[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
[submodule "rapidyaml"]
	path = rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
	tag = 0.9.0
