[submodule "ext/godot-cpp"]
	path = ext/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "ext/rapidyaml"]
	path = ext/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "ext/gdschema"]
	path = ext/gdschema
	url = https://github.com/fimbul-works/gdschema
	branch = main
